<section id="about" class="py-16 bg-gradient-to-r from-purple-400 to-purple-300 text-gray-900">
    <div class="max-w-4xl mx-auto px-6 text-center">
      <h2 class="text-3xl font-bold mb-6">{{'about.title' | translate}}</h2>

      <p class="mt-6 text-lg leading-relaxed">{{ 'about.description' | translate}}</p>
      <p class="mt-6 text-lg leading-relaxed">{{ 'about.qualities' | translate}}</p>
      <p class="mt-6 text-lg leading-relaxed">{{ 'about.prime' | translate}}</p>
      <p class="mt-6 text-lg leading-relaxed">{{ 'about.school' | translate}}</p>
    </div>
  </section>